//COLOR
$color-primary-red: #b92b27;
$color-primary-blue: #1565c0;

$color-secondary-dark: #11998e;
$color-secondary-light: #38ef7d;

$color-tertiary-dark: #f37335;
$color-tertiary-light: #fdc830;

$color-white: #fff;
$color-grey-dark: #666;
$color-grey-light: #eee;
$color-black: #000;
$color-black-2: #333;
$color-light-gray: #f7f7f7;

//FONT
$font-size-default: 1.6rem;
$font-size-medium: 3rem;
$font-size-large: 5rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 6rem;

//RADIUS
$border-radius-default: 3px;

//CSS variables
:root {
  // Colors
  --color-primary-red: #b92b27;
  --color-primary-blue: #1565c0;
  --color-primary-yellow: #ffeb3b;
  --color-black: #333;
  --color-grey-light: #eee;
  --color-grey-light-2: #f7f7f7;
  --color-grey-light-3: #eeeeee;
  --color-grey-dark: #777;
  --color-gold: #ffd700;
  --color-gold-2: #f0e68c;
  --color-brown: #593d00;
  --color-white: #fff;

  //FontSizes

  --font-size-default: 1.6rem;

  //Borders

  --border-grey: 2px solid var(--color-grey-light);
  --border-red: 2px solid var(--color-primary-red);
  --border-bottom-grey: 1px solid var(--color-grey-light);
  --border-primary-red: 2px solid var(--color-primary-red);
  --border-transparent: 2px solid transparent;

  --border-radius-small: 3px;
  --border-radius-large: 100rem;
}

// Flex Breakpoint Media Query Manager
$bp-largest: 87.5em; //Large Laptop
$bp-large: 75em; //Medium Laptop
$bp-medium: 60em; //Small Laptop
$bp-small: 48.75em; //Ipad
$bp-smallest: 37.5em; //Phone
