.program {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 3rem;
  row-gap: 3rem;
  padding: 3rem;
  text-decoration: none;
  color: inherit;
  border: var(--border-grey);
  border-radius: var(--border-radius-small);
  background-color: var(--color-white);
  cursor: pointer;
  font-weight: 700;

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  &__image {
    border-radius: var(--border-radius-small);
    object-fit: cover;
    display: block;
    width: 100%;
    transition: all 0.3s;
  }

  &:hover &__image {
    filter: brightness(0.7);
  }

  &__content {
    display: grid;
    row-gap: 1rem;
    align-content: flex-start;
  }

  &__title {
    font-size: 3rem;
    color: var(--color-primary-red); //Change to gradient
  }

  &__creator {
    font-size: 1.5rem;
  }

  &__lecture-count {
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__ratings {
    display: flex;
    align-items: center;
  }

  &__star-number {
    color: var(--color-primary-red);
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  &__stars {
    margin-right: 1rem;
  }

  &__icon-star {
    height: 2rem;
    width: 2rem;
    fill: var(--color-gold);
  }

  &__ratings-number {
    color: var(--color-primary-red);
    font-size: 1.25rem;
  }

  &__tag-item {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-black);
    padding: 0.5rem;
    border-radius: var(--border-radius-small);
    background-color: var(--color-gold);
    text-transform: uppercase;
  }
}
