.program-lite {
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  transition: all 0.3s;
  &__image-box {
    transition: inherit;
  }

  &:hover &__image-box {
    filter: brightness(0.7);
  }
  &__image {
    width: 100%;
    border-radius: var(--border-radius-small);
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__content > * {
    padding: 0.3rem;
  }
  &__title {
    font-size: var(--font-size-default);
    color: var(--color-black);
  }
  &__creator {
    font-size: 1.2rem;
  }
  &__ratings {
    display: flex;
    align-items: center;
  }
  &__star-number {
    color: var(--color-primary-red);
    margin-right: 1rem;
  }
  &__icon-star {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-gold);
  }

  &__tags {
    display: flex;
  }

  &__tag-item {
    padding: 0.5rem;
    border-radius: var(--border-radius-large);
    transition: all 0.2s;
    text-transform: uppercase;
    background-color: rgba($color-primary-red, 0.8);
    color: $color-white;
    &:hover {
      background-color: rgba($color-primary-red, 1);
      color: var(--color-grey-light-2);
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.5rem;
    }
  }
}
