.section-title {
  margin: 4rem 5rem;
}

.section-recommended {
  padding: 0 5rem;
}

.section-featured {
  padding: 6rem 5rem;
  background-image: linear-gradient(
    to left top,
    var(--color-primary-blue),
    var(--color-primary-red)
  );
  margin: 5rem 0;
  transform: skewY(-3deg);

  & > * {
    transform: skewY(3deg);
  }
}

.section-all-programs {
  margin: 3rem 5rem;
  &__content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 2rem;
    row-gap: 2rem;

    @include respond(tab-port) {
      grid-template-columns: 2fr 4fr;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }
}
